# Ignore virtual environment
venv/
.env/

# Ignore large model weights
weights/*.pth

# Ignore uploaded files
static/uploads/

# Ignore pycache and system files
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# VSCode settings
.vscode/

# Log files
*.log